.idea
.DS_store
**/*.iml
**/*.log
**/puock/**
**/template-puock.php
cache/*
!cache/index.html
node_modules
.tas.php
gutenberg/source
**/**/*-dev.php
assets/dist/setting/index.html
assets/dist/setting/assets
.vscode/*
.spec-workflow/*