@-webkit-keyframes breathe {
  0% {
    opacity: .5;
  }

  100% {
    opacity: 1;
  }
}

.pk-breathe{
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-name: breathe;
  -webkit-animation-duration: 1200ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
}
