@colors: primary, danger, info, success, warning, dark, secondary, light;

//全局变量定义
body {
  --pk-c-primary: #1c60f3;
  --pk-c-danger: #dc3545;
  --pk-c-info: #17a2b8;
  --pk-c-success: #00b74a;
  --pk-c-warning: #fc651f;
  --pk-c-secondary: #6c757d;
  --pk-c-yellow: #f5c800;
  --pk-c-font: #343a40;
  --pk-c-sub: #808695;
  --pk-bg-body: #f3f5f7;
  --pk-bg-card: #fff;
  --pk-bg-box: #fff;
  --pk-c-dark: #212529;
  --pk-c-light: #f8f9fa;
  --pk-bg-light: #fefcfc;
  --pk-bg-grey: #f8f8f9;
  --pk-c-input-bg: #f8f8f9;
  --pk-bg-box-content: #f8f8f9;
  --pk-c-border: #f3f3f3;
  --pk-g-box-radius: 5px;
  --pk-bg-header: rgb(255 255 255 / 15%);
  --pk-c-block-shadow: rgb(176 176 176 / 11%);
  --pk-g-list-img-hover: scale(1.08);
  --pk-g-basic-distance: 15px;
  --pk-bg-skeleton: #d9d9d9;
  //reload
  color-scheme: light;
  --bs-body-color: var(--pk-c-font);
  --bs-body-color-rgb: 52, 58, 64;
  --bs-body-bg: var(--pk-bg-body);
  --bs-body-bg-rgb: 243, 245, 247;
  --bs-emphasis-color: var(--pk-c-font);
  --bs-emphasis-color-rgb: 52, 58, 64;
  --bs-secondary-color: var(--pk-c-sub);
  --bs-secondary-bg: var(--pk-bg-grey);
  --bs-tertiary-color: var(--pk-c-sub);
  --bs-tertiary-bg: var(--pk-bg-box-content);
  --bs-border-color: var(--pk-c-border);
  --bs-heading-color: var(--pk-c-font);
  --bs-link-color: var(--pk-c-primary);
  --bs-link-hover-color: var(--pk-c-primary);
  --bs-primary: var(--pk-c-primary);
  --bs-primary-rgb: 28, 96, 243;
  --bs-secondary: var(--pk-c-secondary);
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success: var(--pk-c-success);
  --bs-success-rgb: 0, 183, 74;
  --bs-info: var(--pk-c-info);
  --bs-info-rgb: 23, 162, 184;
  --bs-warning: var(--pk-c-warning);
  --bs-warning-rgb: 252, 101, 31;
  --bs-danger: var(--pk-c-danger);
  --bs-danger-rgb: 220, 53, 69;
  --bs-light: var(--pk-c-light);
  --bs-light-rgb: 248, 249, 250;
  --bs-dark: var(--pk-c-dark);
  --bs-dark-rgb: 33, 37, 41;
  --bs-code-color: #fb4787;

  &.puock-dark {
    color-scheme: dark;
    --pk-bg-body: #212529;
    --pk-c-font: #dee2e6;
    --pk-c-sub: rgba(222, 226, 230, 0.75);
    --pk-bg-card: #343a40;
    --pk-bg-box: #343a40;
    --pk-bg-box-content: #2b3035;
    --pk-c-input-bg: #212529;
    --pk-c-border: #495057;
    --pk-bg-header: rgb(34 34 34 / 15%);
    --pk-c-block-shadow: rgb(0 0 0 / 18%);
    --pk-bg-skeleton: #343a40;
    --bs-body-color: var(--pk-c-font);
    --bs-body-color-rgb: 222, 226, 230;
    --bs-body-bg: var(--pk-bg-body);
    --bs-body-bg-rgb: 33, 37, 41;
    --bs-emphasis-color: #fff;
    --bs-emphasis-color-rgb: 255, 255, 255;
    --bs-secondary-color: var(--pk-c-sub);
    --bs-secondary-color-rgb: 222, 226, 230;
    --bs-secondary-bg: var(--pk-bg-box);
    --bs-secondary-bg-rgb: 52, 58, 64;
    --bs-tertiary-color: var(--pk-c-sub);
    --bs-tertiary-color-rgb: 222, 226, 230;
    --bs-tertiary-bg: var(--pk-bg-box-content);
    --bs-tertiary-bg-rgb: 43, 48, 53;
    --bs-border-color: var(--pk-c-border);
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-heading-color: inherit;
    --bs-code-color: #e685b5;
  }

  &.puock-dark.puock-dark-palette-blueblack {
    --pk-c-dark: #2f3940;
    --pk-bg-body: #1e2a36;
    --pk-c-font: #dddbdb;
    --pk-c-sub: #808695;
    --pk-bg-card: #2f3940;
    --pk-bg-box: #1a242f;
    --pk-bg-box-content: #1e2a36;
    --pk-c-input-bg: #1e2a36;
    --pk-c-border: #2f373e;
    --pk-c-block-shadow: rgb(23 31 40 / 57%);
    --pk-bg-skeleton: #2a3644;
    --bs-dark-rgb: 47, 57, 64;
    --bs-body-color: var(--pk-c-font);
    --bs-body-color-rgb: 221, 219, 219;
    --bs-body-bg: var(--pk-bg-body);
    --bs-body-bg-rgb: 30, 42, 54;
    --bs-emphasis-color: var(--pk-c-font);
    --bs-emphasis-color-rgb: 221, 219, 219;
    --bs-secondary-color: var(--pk-c-sub);
    --bs-secondary-color-rgb: 128, 134, 149;
    --bs-secondary-bg: var(--pk-bg-box);
    --bs-secondary-bg-rgb: 26, 36, 47;
    --bs-tertiary-color: var(--pk-c-sub);
    --bs-tertiary-color-rgb: 128, 134, 149;
    --bs-tertiary-bg: var(--pk-bg-box-content);
    --bs-tertiary-bg-rgb: 30, 42, 54;
    --bs-border-color: var(--pk-c-border);
    --bs-border-color-translucent: rgba(255, 255, 255, 0.15);
    --bs-heading-color: var(--pk-c-font);
    --bs-code-color: #fb4787;
  }
}
